.cache
.pytest_cache
__pycache__

build
dist

.git
*.gitignore

*.mo
*.pyc
*.swp
*.swo
*.~

*.egg
*.egg-info
.eggs

.dockerignore
Dockerfile*
docker-compose.yml
docker-compose-dev.yml

Procfile*

Makefile
