.git
*.gitignore

*.mo
*.pyc
*.swp
*.swo
*.~

*.egg
.eggs/

.dockerignore
Dockerfile*
docker-compose.yml
docker-compose-dev.yml

Procfile*

Makefile

# FIXME -- no tests in containers...
docs/conftest.py
renku/conftest.py
