.git
*.gitignore

*.mo
*.pyc
*.swp
*.swo
*.~

.eggs

.dockerignore
Dockerfile*
docker-compose.yml
docker-compose-dev.yml

Procfile*

Makefile

# FIXME -- no tests in containers...
docs/conftest.py
renga/conftest.py
