# -*- coding: utf-8 -*-
#
# Copyright 2017 - Swiss Data Science Center (SDSC)
# A partnership between École Polytechnique Fédérale de Lausanne (EPFL) and
# Eidgenössische Technische Hochschule Zürich (ETHZ).
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

notifications:
  email: false

sudo: required

services:
  - docker

language: python

matrix:
  fast_finish: true

cache:
  - pip

env:
  - REQUIREMENTS=lowest
  - REQUIREMENTS=release DEPLOY=true
  # - REQUIREMENTS=devel

python:
  - "2.7"
  - "3.5"
  - "3.6"

before_install:
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder -e all --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder -e all --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder -e all --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
- provider: pypi
  user: sdsc-org
  password:
    secure: N+D2HRXjR+NlI8nQqC90LCSyGiSzPNTBXmsa+eyJ8JjXlrndyATDrTM5JGl8hBzBsMFGoVRQ7zYMu11hx9MlRR6hqPQxbnpgfuBhC+yr3Yy2eOzR8S/3YX6qCoLe4pXDCstQmZcpWu+M0vktlOMfCaLmvJdRotQrSwkkSj5XLWQUIn4QvAAT89RU/qf5eG4gK5MyGtev6B79UyABpg5i/okuLIiee2QDoVddWOOaLpGmtAXB8cqRqumB8J1p8F6an6uHpqYhaLHjFxgK/LuV9AWhWH4tjQxxsiYg1wbJR5vMxsxQSGUYsntLkQGaQjkTrLMLzdy5ZHTJavHvWTqPjpaeNVJt9yMWfvZZHdl+B17Q+3Mluhl7zYkV/mk85Xy8bAGT7+Rulz3s0NHlGf20HnbsexkgmcC7fJ8TcHu5/7bL4LkQ1Nm61tt2gkDoimpAFG+8sQQWBJkkx0qXjQUdWigHSzYc6qmeN7lKyalx/Psu1TtnGKSo77G9/HMMfR8u3lUelRBg0/ZFIru1vcbfas+yWntlmEuvVn9KOpyeTJk06r7Mkp9uhshsAy9/I21suF9+09Mb/P8qLpmZ1aELOEQ5PkTdojyb25R4hpVmrFVSiy9YMvAI3AAyH25DKiUOxGyn1PXIIiNH7MXN2lc+yuh8D74Mw1+Gj7b8RfSrJlM=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    python: "3.6"
    repo: SwissDataScienceCenter/renga-python
    condition: $DEPLOY = true
- provider: script
  skip_cleanup: true
  script: make login push-docker-images
  on:
    branch: master
    python: "3.6"
    repo: SwissDataScienceCenter/renga-python
    condition: $DEPLOY = true
