# -*- coding: utf-8 -*-
#
# This file is part of SDSC Platform.
# Copyright (C) 2017 Swiss Data Science Center.
#
# ADD LICENSE SHORT TEXT
#

# Check manifest will not automatically add these two files:
include .dockerignore
include .editorconfig
include .tx/config
prune docs/_build
recursive-include renga *.po *.pot *.mo

# added by check_manifest.py
include *.rst
include *.sh
include *.txt
include LICENSE
include babel.ini
include pytest.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include tests *.py
