[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
renku = {editable = true,extras = ["all"],path = "."}

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
tests = "./run-tests.sh -t -s -d"
