.cli-reference-page > h2 {
  display: none !important;
}

.cli-reference-commands > div.section > div.section {
  margin-left: 15px;
}

.cli-reference-commands > div.section > div.section h4 {
  margin-left: -15px;
  font-style: italic;
}
