# Default values for renku-core.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

global:
  ## Specify a secret that containes the certificate
  ## if you would like to use a custom CA. The key for the secret
  ## should have the .crt extension otherwise it is ignored. The
  ## keys across all secrets are mounted as files in one location so
  ## the keys across all secrets have to be unique.
  certificates:
    image:
      repository: renku/certificates
      tag: '0.0.1'
    customCAs: []
      # - secret:

# base path - this is the reverse proxy base path
apiBasePath: /api

cacheDirectory: /svc/cache
cleanupInterval: 60  # NOTE: This needs to be a divisor of, and less than cleanupFilesTTL|cleanupProjectsTTL.
projectCloneDepth: 1
templateCloneDepth: 1

datasetsWorkerQueues: datasets.jobs,delayed.ctrl.DatasetsCreateCtrl,delayed.ctrl.DatasetsAddFileCtrl,delayed.ctrl.DatasetsRemoveCtrl,delayed.ctrl.DatasetsImportCtrl,delayed.ctrl.DatasetsEditCtrl,delayed.ctrl.DatasetsUnlinkCtrl
managementWorkerQueues: cache.cleanup.files,cache.cleanup.projects,delayed.ctrl.MigrateProjectCtrl,delayed.ctrl.SetConfigCtrl
cleanupFilesTTL: 1800
cleanupProjectsTTL: 1800
logLevel: INFO

# override to automatically pull LFS data on clone
gitLFSSkipSmudge: 1

# Concurrency settings for the main service:
# the default it 4 workers with 8 threads set in the Dockerfile
nWorkers: 4
nThreads: 8

# NOTE: Make sure token secret is greater or equal to 32 bytes.
jwtTokenSecret: bW9menZ3cnh6cWpkcHVuZ3F5aWJycmJn

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

metrics:
  enabled: false
  image:
    repository: renku/rqmetrics
    tag: latest
    pullPolicy: IfNotPresent

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# nodeSelector: {}

# tolerations: []

# affinity: {}

## The renku core service deploys its own redis as a dependency. These values
## do probably not need to be changed.
redis:
  nameOverride: core-redis

  cluster:
    enabled: false

  usePassword: false

  master:
    persistence:
      enabled: false

  networkPolicy:
    enabled: true
    allowExternal: false

## Add sentry configuration
sentry:
  enabled: false
  dsn:
  environment:
  sampleRate: 0.2

# versions is the list of different deployment that support different metadata versions.
versions:
  latest:
    name: v9
    prefix: "9"
    nameOverride: ""
    fullnameOverride: ""
    image:
      repository: renku/renku-core
      tag: "v1.0.6"
      pullPolicy: IfNotPresent
  v8:
    name: v8
    prefix: "8"
    nameOverride: ""
    fullnameOverride: ""
    image:
      repository: renku/renku-core
      tag: "v0.16.4"
      pullPolicy: IfNotPresent
