name: Acceptance tests

on:
  pull_request:
    types:
    - opened
    - edited
    - synchronize
    - reopened
    - closed

jobs:
  check-deploy:
    runs-on: ubuntu-20.04
    outputs:
      pr-contains-string: ${{ steps.deploy-comment.outputs.pr-contains-string }}
    steps:
      - id: deploy-comment
        uses: SwissDataScienceCenter/renku/actions/check-pr-description@000-deploy-action
        with:
          string: /deploy
          pr_ref: ${{ github.event.number }}
  deploy-pr:
    needs: check-deploy
    if: github.event.action != 'closed' && needs.check-deploy.outputs.pr-contains-string == 'true'
    runs-on: ubuntu-20.04
    environment:
      name: ci-rp-${{ github.event.number }}
    steps:
    - name: deploy-pr
      uses: SwissDataScienceCenter/renku/actions/deploy-renku@000-deploy-action
      env:
        DOCKER_PASSWORD: ${{ secrets.RENKU_DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.RENKU_DOCKER_USERNAME }}
        GITLAB_TOKEN: ${{ secrets.DEV_GITLAB_TOKEN }}
        KUBECONFIG: "${{ github.workspace }}/renkubot-kube.config"
        RANCHER_PROJECT_ID: ${{ secrets.CI_RANCHER_PROJECT }}
        RENKU_RELEASE: ci-rp-${{ github.event.number }}
        RENKU_VALUES_FILE: "${{ github.workspace }}/values.yaml"
        RENKU_VALUES: ${{ secrets.CI_RENKU_VALUES }}
        RENKUBOT_KUBECONFIG: ${{ secrets.RENKUBOT_DEV_KUBECONFIG }}
        RENKUBOT_RANCHER_BEARER_TOKEN: ${{ secrets.RENKUBOT_RANCHER_BEARER_TOKEN }}
        RENKU_BOT_DEV_PASSWORD: ${{ secrets.RENKU_BOT_DEV_PASSWORD }}
        RENKU_ANONYMOUS_SESSIONS: false
        RENKU_TESTS_ENABLED: true
        renku: "@000-deploy-action"
        renku_core: "@${{ github.head_ref }}"
    - name: Check existing renkubot comment
      uses: peter-evans/find-comment@v1
      id: findcomment
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'RenkuBot'
        body-includes: "You can access the deployment of this PR at"
    - name: Create comment pre deploy
      if: steps.findcomment.outputs.comment-id == 0
      uses: peter-evans/create-or-update-comment@v1
      with:
        token: ${{ secrets.RENKUBOT_GITHUB_TOKEN }}
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          You can access the deployment of this PR at https://ci-rp-${{ github.event.number }}.dev.renku.ch

  test-pr:
    runs-on: ubuntu-latest
    if: github.event.action != 'closed'
    needs: [check-deploy, deploy-pr]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        sudo apt-get update -y && sudo apt-get install -y grep
        pip install yq
    - name: Test the PR
      if: needs.check-deploy.outputs.pr-contains-string == 'true'
      env:
        RENKU_BOT_DEV_PASSWORD: ${{ secrets.RENKU_BOT_DEV_PASSWORD }}
        RENKU_RELEASE: "ci-${{ github.event.repository.name }}-${{ github.event.number }}-renku"
      run: |
        RENKU_PYTHON_VERSION=$(git rev-parse HEAD)
        echo "Passing rp version $RENKU_PYTHON_VERSION"

        git clone https://github.com/SwissDataScienceCenter/renku.git /tmp/renku
        cd /tmp/renku/
        git checkout development
        cd acceptance-tests
        COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose build --build-arg renku_python_ref=${RENKU_PYTHON_VERSION} sbt
        docker-compose run -e RENKU_TEST_URL=https://${RENKU_RELEASE}.dev.renku.ch \
                           -e RENKU_TEST_FULL_NAME="Renku Bot" \
                           -e RENKU_TEST_EMAIL="renku@datascience.ch" \
                           -e RENKU_TEST_REGISTER="1" \
                           -e RENKU_TEST_USERNAME="renku-test" \
                           -e RENKU_TEST_PASSWORD="$RENKU_BOT_DEV_PASSWORD" \
                           -e RENKU_TEST_ANON_AVAILABLE="false" sbt
    - name: Prepare artifact for packaging on failure
      if: failure()
      run: |
        mkdir test-artifacts
        cp target/*.png test-artifacts 2>/dev/null || :
        cp target/*.log test-artifacts 2>/dev/null || :
        sudo rm -rf target/20*/.renku/cache 2>/dev/null || :
        cp -r target/20* test-artifacts 2>/dev/null || :
    - name: Upload screenshots on failure
      if: failure()
      uses: actions/upload-artifact@v1
      with:
        name: acceptance-test-artifacts
        path: test-artifacts
  cleanup:
    if: github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
    - uses: SwissDataScienceCenter/renku/actions/teardown-renku@000-deploy-action
      env:
        GITLAB_TOKEN: ${{ secrets.GITLAB_DEV_TOKEN }}
        KUBECONFIG: ${{ github.workspace }}/renkubot-kube.config
        RENKUBOT_KUBECONFIG: ${{ secrets.RENKUBOT_DEV_KUBECONFIG }}
        RENKU_RELEASE: ci-rp-${{ github.event.number }}-renku
        RENKU_NAMESPACE: ci-rp-${{ github.event.number }}-renku
        RENKU_TMP_NAMESPACE: ci-rp-${{ github.event.number }}-renku-tmp
