name: check and update Pipfile.lock

on:
  pull_request:
    paths:
    - 'setup.py'

jobs:
  update-pipfile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.RENKU_CI_TOKEN }}
    - name: Check previous commit
      id: check-commit
      run: |
        echo "::set-output name=needs_update::$(git log --pretty=format:%s -n 1)"
    - name: Print previous commit
      run: echo "${{ steps.check-commit.outputs.needs_update }}"
    - name: Setup python
      if: "steps.check-commit.outputs.needs_update != 'chore: automatically update Pipfile.lock'"
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Update Pipfile.lock
      if: "steps.check-commit.outputs.needs_update != 'chore: automatically update Pipfile.lock'"
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv lock
    - name: Commit changed Pipfile.lock
      if: "steps.check-commit.outputs.needs_update != 'chore: automatically update Pipfile.lock'"
      run: |
        git config --local user.email "renku@datascience.ch"
        git config --local user.name "RenkuBot"
        git add Pipfile.lock
        git commit -m 'chore: automatically update Pipfile.lock' || true
        git push origin ${{ github.head_ref }}
    # - name: Push changes
    #   uses: ad-m/github-push-action@master
    #   with:
    #     github_token: ${{ secrets.RENKU_CI_TOKEN }}
    #     branch: ${{ github.head_ref }}
